.creator{
    padding: 100px;
}

.creatorContainer{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 5px;
    background-color: var(--gris);
}

.creatorTitle{
    font-size: 30px;
    font-weight: bold;
    color: var(--blue);
    text-align: center;
}

.creatorForm{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.creatorFormSection{
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--blue);
    border-radius: 5px;
}

.creatorFormSectionTitle{
    font-size: 20px;
    color: var(--yellow);
}

.creatorFormSectionInput{
    height: 25px;
    font-size: 15px;
    border: none;
    background-color: var(--gris);
}
.creatorFormSectionInput:focus{
    outline: 1px solid var(--yellow);
}

.creatorFormSection textarea{
    resize: none;
    height: 100px;
}

.creatorFormSubmit{
    padding: 20px;
    font-size: 20px;
    background-color: var(--blue);
    color: var(--yellow);
    border: none;
    border-radius: 5px;
}

.creatorFormSubmit:hover{
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--blue);
}

.creatorMessage{
    text-align: center;
    font-weight: bold;
    background-color: rgb(74, 223, 36);
    line-height: 40px;
}

@media(max-width: 900px){
    .creatorFormSection{
        width: 50vw;
    }
}

@media(max-width: 580px){
    .creator{
        padding: 30px;
    }
    .creatorContainer{
        padding: 20px 10px;
        gap: 10px;
    }
    .creatorTitle{
        font-size: 20px;
    }
    .creatorFormSectionTitle{
        font-size: 15px;
    }
    .creatorFormSubmit{
        padding: 10px;
        font-size: 15px;
    }
}